
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

h1 {
	font-family:"raleway";
	font-size: 3.5em;
	font-weight: bold;
	margin-bottom: 50px;
	color: black;
	line-height: 1.3;
}

hgroup{
	margin-bottom: 150px
}


body{
	font-family: "public sans";
	font-size: 1em;
	padding: 100px 100px 100px 100px;
	line-height: 1.5;
	max-width: 155ch;
}


em{ font-style: italic;}


h2{
	font-family: "raleway";
	font-size: 1.8em;
	font-weight: bold;
	margin-top: 50px;
	margin-bottom: 20px;
	color:black;
}

h3{
	font-family: "raleway";
	font-size: 1.2em;
	font-weight: 700;
	margin-bottom: 10px;
}

p{
	max-width: 65ch;
	margin-bottom: 20px;
}

.author-info{
	color:#999999;
}

#black{
	background: black;
	color: white;
	max-width: 55ch;
}

#white{
	background: #999999;
	color: white;
	max-width: 55ch;
}

#yellow{
	background: yellow;
	max-width: 55ch;
}

#orange{
	background-color: orange;
	color: white;
	max-width: 55ch;
}

#red{
	background: red;
	color: white;
	max-width: 55ch;
}

#green{
	background: green;
	color: white;
	max-width: 55ch;
}

#blue{
	background: blue;
	color: white;
	max-width: 55ch;
}

#purple{
	background: purple;
	color: white;
	max-width: 55ch;
}

}